*~
*.swp
.DS_Store
server/
pkg/
bench/
*cache*/
log/*
tmp/*
test/*
*.sql
*.sqlite3
_site/
vendor/bundler_gems/*
!vendor/bundler_gems/cache/
vendor/bundler_gems/cache/*
.svn
.bundle/environment.rb
Gemfile.lock
rerun.txt
TRADEMARKS/
