<p>
  <b>Url:</b>
  <%=h @search_result.url %>
</p>

<p>
  <b>Search engine:</b>
  <%=h @search_result.search_engine %>
</p>


<%= link_to 'Edit', edit_search_result_path(@search_result) %> |
<%= link_to 'Back', search_results_path %>